In [1]:
import pandas as pd
from datetime import datetime, timedelta

In [13]:
df = pd.read_csv("/content/sample_data/bc_trip259172515_230215.csv",
                 header='infer',
                 skipinitialspace=False,
                 skiprows=None,
                 skipfooter=0,
                 nrows=None,
                 na_values=None,
                 keep_default_na=True,
                 na_filter=True,
                 skip_blank_lines=True,
                 compression='infer',
                 decimal='.',
                 lineterminator=None,
                 quotechar='"',
                 quoting=0,
                 doublequote=True,
                 escapechar=None,
                 comment=None,
                 encoding=None,
                 encoding_errors='strict',
                 on_bad_lines='error',
                 low_memory=True,
                 memory_map=False,
                 float_precision=None)

In [15]:
columns_to_read = [0, 2, 3, 4, 5, 6, 7]
df1 = pd.read_csv("/content/sample_data/bc_trip259172515_230215.csv", usecols=columns_to_read)

In [16]:
print(df1)

     EVENT_NO_TRIP            OPD_DATE  VEHICLE_ID  METERS  ACT_TIME  \
0        259172515  15FEB2023:00:00:00        4223      40     20469
1        259172515  15FEB2023:00:00:00        4223      48     20474
2        259172515  15FEB2023:00:00:00        4223      57     20479
3        259172515  15FEB2023:00:00:00        4223      73     20484
4        259172515  15FEB2023:00:00:00        4223     112     20489
..             ...                 ...         ...     ...       ...
156      259172515  15FEB2023:00:00:00        4223    5834     21389
157      259172515  15FEB2023:00:00:00        4223    5838     21424
158      259172515  15FEB2023:00:00:00        4223    5858     21429
159      259172515  15FEB2023:00:00:00        4223    5889     21434
160      259172515  15FEB2023:00:00:00        4223    5918     21439

     GPS_LONGITUDE  GPS_LATITUDE
0      -122.648137     45.493082
1      -122.648240     45.493070
2      -122.648352     45.493123
3      -122.648385     45.493262
4      -122.648347     45.493582
..             ...           ...
156    -122.677057     45.528040
157    -122.677003     45.528037
158    -122.676765     45.528043
159    -122.676370     45.528047
160    -122.675990     45.528065

[161 rows x 7 columns]

In [17]:
def combine_date_time(row):

    date = datetime.strptime(row['OPD_DATE'], '%d%b%Y:%H:%M:%S')

    time_delta = timedelta(seconds=int(row['ACT_TIME']))

    return date + time_delta

df1['TIMESTAMP'] = df1.apply(combine_date_time, axis=1)

print(df1)

     EVENT_NO_TRIP            OPD_DATE  VEHICLE_ID  METERS  ACT_TIME  \
0        259172515  15FEB2023:00:00:00        4223      40     20469
1        259172515  15FEB2023:00:00:00        4223      48     20474
2        259172515  15FEB2023:00:00:00        4223      57     20479
3        259172515  15FEB2023:00:00:00        4223      73     20484
4        259172515  15FEB2023:00:00:00        4223     112     20489
..             ...                 ...         ...     ...       ...
156      259172515  15FEB2023:00:00:00        4223    5834     21389
157      259172515  15FEB2023:00:00:00        4223    5838     21424
158      259172515  15FEB2023:00:00:00        4223    5858     21429
159      259172515  15FEB2023:00:00:00        4223    5889     21434
160      259172515  15FEB2023:00:00:00        4223    5918     21439

     GPS_LONGITUDE  GPS_LATITUDE           TIMESTAMP
0      -122.648137     45.493082 2023-02-15 05:41:09
1      -122.648240     45.493070 2023-02-15 05:41:14
2      -122.648352     45.493123 2023-02-15 05:41:19
3      -122.648385     45.493262 2023-02-15 05:41:24
4      -122.648347     45.493582 2023-02-15 05:41:29
..             ...           ...                 ...
156    -122.677057     45.528040 2023-02-15 05:56:29
157    -122.677003     45.528037 2023-02-15 05:57:04
158    -122.676765     45.528043 2023-02-15 05:57:09
159    -122.676370     45.528047 2023-02-15 05:57:14
160    -122.675990     45.528065 2023-02-15 05:57:19

[161 rows x 8 columns]

In [18]:
df1.drop(columns=['OPD_DATE', 'ACT_TIME'], inplace=True)
print(df1)

     EVENT_NO_TRIP  VEHICLE_ID  METERS  GPS_LONGITUDE  GPS_LATITUDE  \
0        259172515        4223      40    -122.648137     45.493082
1        259172515        4223      48    -122.648240     45.493070
2        259172515        4223      57    -122.648352     45.493123
3        259172515        4223      73    -122.648385     45.493262
4        259172515        4223     112    -122.648347     45.493582
..             ...         ...     ...            ...           ...
156      259172515        4223    5834    -122.677057     45.528040
157      259172515        4223    5838    -122.677003     45.528037
158      259172515        4223    5858    -122.676765     45.528043
159      259172515        4223    5889    -122.676370     45.528047
160      259172515        4223    5918    -122.675990     45.528065

              TIMESTAMP
0   2023-02-15 05:41:09
1   2023-02-15 05:41:14
2   2023-02-15 05:41:19
3   2023-02-15 05:41:24
4   2023-02-15 05:41:29
..                  ...
156 2023-02-15 05:56:29
157 2023-02-15 05:57:04
158 2023-02-15 05:57:09
159 2023-02-15 05:57:14
160 2023-02-15 05:57:19

[161 rows x 6 columns]

In [25]:
list(df1.columns)

['EVENT_NO_TRIP',
 'VEHICLE_ID',
 'METERS',
 'GPS_LONGITUDE',
 'GPS_LATITUDE',
 'TIMESTAMP',
 'SPEED']

In [19]:
df1['TIMESTAMP'] = pd.to_datetime(df1['TIMESTAMP'])

df1['dMETERS'] = df1['METERS'].diff()

df1['dTIMESTAMP'] = df1['TIMESTAMP'].diff().dt.total_seconds()


df1['SPEED'] = df1.apply(lambda row: row['dMETERS'] / row['dTIMESTAMP'] if row['dTIMESTAMP'] != 0 else 0, axis=1)

In [20]:
print(df1)

     EVENT_NO_TRIP  VEHICLE_ID  METERS  GPS_LONGITUDE  GPS_LATITUDE  \
0        259172515        4223      40    -122.648137     45.493082
1        259172515        4223      48    -122.648240     45.493070
2        259172515        4223      57    -122.648352     45.493123
3        259172515        4223      73    -122.648385     45.493262
4        259172515        4223     112    -122.648347     45.493582
..             ...         ...     ...            ...           ...
156      259172515        4223    5834    -122.677057     45.528040
157      259172515        4223    5838    -122.677003     45.528037
158      259172515        4223    5858    -122.676765     45.528043
159      259172515        4223    5889    -122.676370     45.528047
160      259172515        4223    5918    -122.675990     45.528065

              TIMESTAMP  dMETERS  dTIMESTAMP     SPEED
0   2023-02-15 05:41:09      NaN         NaN       NaN
1   2023-02-15 05:41:14      8.0         5.0  1.600000
2   2023-02-15 05:41:19      9.0         5.0  1.800000
3   2023-02-15 05:41:24     16.0         5.0  3.200000
4   2023-02-15 05:41:29     39.0         5.0  7.800000
..                  ...      ...         ...       ...
156 2023-02-15 05:56:29     14.0         5.0  2.800000
157 2023-02-15 05:57:04      4.0        35.0  0.114286
158 2023-02-15 05:57:09     20.0         5.0  4.000000
159 2023-02-15 05:57:14     31.0         5.0  6.200000
160 2023-02-15 05:57:19     29.0         5.0  5.800000

[161 rows x 9 columns]

In [21]:
df1.drop(columns=['dMETERS', 'dTIMESTAMP'], inplace=True)

In [22]:
print(df1)

     EVENT_NO_TRIP  VEHICLE_ID  METERS  GPS_LONGITUDE  GPS_LATITUDE  \
0        259172515        4223      40    -122.648137     45.493082
1        259172515        4223      48    -122.648240     45.493070
2        259172515        4223      57    -122.648352     45.493123
3        259172515        4223      73    -122.648385     45.493262
4        259172515        4223     112    -122.648347     45.493582
..             ...         ...     ...            ...           ...
156      259172515        4223    5834    -122.677057     45.528040
157      259172515        4223    5838    -122.677003     45.528037
158      259172515        4223    5858    -122.676765     45.528043
159      259172515        4223    5889    -122.676370     45.528047
160      259172515        4223    5918    -122.675990     45.528065

              TIMESTAMP     SPEED
0   2023-02-15 05:41:09       NaN
1   2023-02-15 05:41:14  1.600000
2   2023-02-15 05:41:19  1.800000
3   2023-02-15 05:41:24  3.200000
4   2023-02-15 05:41:29  7.800000
..                  ...       ...
156 2023-02-15 05:56:29  2.800000
157 2023-02-15 05:57:04  0.114286
158 2023-02-15 05:57:09  4.000000
159 2023-02-15 05:57:14  6.200000
160 2023-02-15 05:57:19  5.800000

[161 rows x 7 columns]

In [23]:
speed_statistics = df1['SPEED'].describe()

print(f"Minimum Speed: {speed_statistics['min']}")
print(f"Maximum Speed: {speed_statistics['max']} ")
print(f"Average Speed: {speed_statistics['mean']}")

Minimum Speed: 0.0
Maximum Speed: 17.4
Average Speed: 7.227205815018314